.header {
  position: fixed;
  width: 100%;
  top: 0;
  height: 90px;
  background-color: transparent;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  padding-left: 10%;
  padding-right: 10%;
  backdrop-filter: blur(2px);
}

.nav {
  display: flex;
  align-items: center;
  gap: 25px;
}
.nav a {
  color: var(--text-light);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
.nav a:hover {
  color: var(--secondary);
}

.logo {
  max-height: 160px;
  width: auto;
  object-fit: contain;
  cursor: pointer;
}
.logo-container {
  display: flex;
  align-items: center;
  height: 100%;
}

/* Responsive Hamburger */
.hamburger {
  display: none;
  flex-direction: column-reverse;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  gap: 5px;
  height: 30px;
  width: 30px;
  z-index: 11;
  transition: transform 0.3s ease;
}
.hamburger span {
  width: 25px;
  height: 3px;
  background: var(--text-light);
  transition: all 0.4s ease-in-out;
  border-radius: 2px;
}
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.open span:nth-child(2) {
  opacity: 0;
  transform: translateX(-20px);
}
.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Mobile Styles */
@media (max-width: 768px) {
  .nav {
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);
    flex-direction: column;
    padding: 20px 0;
    display: none;
    pointer-events: none;
    transform: translateY(-20px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  .nav.active {
    display: flex;
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
    background-color: black;
    margin-top: 1rem;
  }

  .hamburger {
    display: flex;
    margin-right: 5px;
  }

  .quote-btn {
    margin-top: 10px;
  }
}

.request-btn {
  margin-top: 5px;
}
